* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica", sans-serif;
  scroll-behavior: smooth;
}
h1,
p {
  text-align: center;
  border: none;
  padding: 0;
}
h1 {
  font-weight: bold;
  font-size: 4em;
  padding-bottom: 1em;
}
header {
  position: fixed;
  display: flex;
  border: none;
  height: 50px;
  width: 100%;
  background-color: lightgray;
  z-index: 1;
}
.logo {
  height: 50px;
  width: auto;
}
.logo:hover {
  height: 60px;
}
nav {
  display: flex;
  margin-left: auto;
  width: 75%;
}
nav ul {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  list-style: none;
}
.nav-sec {
  display: flex;
  flex: 1 1 auto;
}
.nav-sec:hover {
  height: 55px;
  padding-bottom: 5px;
  background-color: rgba(163, 163, 163, 0.815);
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}

#Section1 {
  padding: 50px 0px 20px 0px;
}
section {
  margin: 0 10%;
  align-content: center;
}
.box-form {
  display: flex;
}
#description-form {
  margin: auto 0 auto auto;
}
#submit {
  background-color: #055353;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px auto 10px 10px;
  border: 0px solid;
}
#submit:hover {
  background-color: #2dc874;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px auto 10px 10px;
  border: 0px solid;
}
.rowTab {
  border: none;
  margin: 5px;
}
.labels {
  text-align: right;
  display: inline-block;
  width: 40%;
  vertical-align: top;
  margin-top: 10px;
  border: none;
  padding: 5px;
}

label {
  border: none;
  font-family: sans-serif;
}
.rightTab {
  text-align: left;
  display: inline-block;
  width: 47%;
  vertical-align: middle;
  border: none;
}

.input-field {
  height: 30px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}
iframe {
  padding: 2%;
}
#Section3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

element.style {
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.product > .level {
  background-color: #ddd;
  color: black;
  margin-top: 0.5px;
  padding: 15px 0px;
  width: 99.5%;
  text-transform: uppercase;
  font-weight: 700;
}
.product > h2 {
  margin-top: 15px;
}
.product > ul {
  display: list-item;
}
.product > ul > li {
  display: list-item;
  padding: 5px;
}
.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #055353;
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.product > button:hover {
  background-color: #2dc874;
}
#credits {
  text-decoration: none;
  color: lightgrey;
  border: none;
  font-size: 15px;
}
#credits:hover {
  text-decoration: none;
  color: grey;
  border: none;
  font-size: 15px;
}
@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  #Section3 {
    flex-direction: column;
  }
  .product {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  ul {
    flex-flow: row wrap;
    align-items: center;
  }
  .nav-sec {
    height: 30%;
    flex: 1 1 auto;
    text-align: center;
    margin: 1px 0 0 0;
  }
  .nav-sec:hover {
    background-color: grey;
    height: 40%;
  }
}
