html, html[data-theme="light"] {
  --primary-color:  #000000;
  --secondary-color:lightgray;
  --contrast-color: #ffffff;
  --shadow:         #808080;
  --color-deg-1:    #181719;
  --color-deg-2:    #f1f1f1;
  --color-deg-3:    #6a6a6a;
}

/* ------- 0. Dark toggle    ------*/
/* ------- 1. Page structure ------*/
/* ------- 2. Main           ------*/
/* ------- 3. Projects       ------*/
/* ------- 4. Social         ------*/
/* ------- 5. Footer         ------*/
/* ------- 6. Icon Pack      ------*/
/* ------- 7. Animation      ------*/

:root {
  --trans-time-func: cubic-bezier(0.175, 0.885, 0.32, 1.075);
  --toggle-cont-bg: var(--secondary-color);
  --toggle-light:   #ffffff;
  --toggle-dark:    #363030;
}

html[data-theme="dark"] {
  --primary-color:  #e8e6e3;
  --secondary-color:#575757;
  --contrast-color: #162c46;
  --shadow:         #555c5fa1;
  --color-deg-1:    #35393b;
  --color-deg-2:    #332f3f;
  --color-deg-3:    #36262a;
}

.toggle {
  grid-area: btn;
  place-self: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 15px;
}
.toggle input[type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.toggle input[type=checkbox]:checked + label {
  background: var(--toggle-dark);
  animation: rotate 400ms var(--trans-time-func);
  animation-delay: 250ms;
}
.toggle input[type=checkbox]:checked + label::after {
  background: var(--toggle-cont-bg);
  transform: translate(35%, -30%);
  opacity: 1;
}
.toggle label.toggle-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms var(--trans-time-func);
  background: var(--toggle-light);
  overflow: hidden;
}
.toggle label.toggle-btn::after {
  content: "";
  background: var(--toggle-cont-bg);
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: translate(72%, -72%);
  transition: all 250ms var(--trans-time-func);
  opacity: 0;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* ------- Page structure ------*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "helvetica", sans-serif;
}

header {
  position: fixed;
  z-index: 1;
  top: 0px;
  display: flex;
  border: none;
  height: 50px;
  width: 100%;
  background-color: var(--secondary-color, lightgray);
  box-shadow: 0 1px 4px var(--shadow, grey);
}

.logo {
  height: 50px;
  width: auto;
  background-color: transparent;
  opacity: 0.9;
  transition: 0.3s;
}
.logo:hover {
  height: 60px;
  width: auto;
  opacity: 1;
}
#navbar {
  display: flex;
  margin: 0 0 0 auto;
  height: 100%;
  width: 75%;
}
#nav-list {
  list-style: none;
  flex-flow: row nowrap;
  width: 100%;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.nav-link {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--primary-color, black);
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
.nav-link:after {
  text-decoration: none;
  color: var(--primary-color, black);
}
.nav-sec {
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  margin: 0px;
  padding: 0px;
  opacity: 0.9;
  transition: 0.3s;
}
.nav-sec:hover {
  background-color: var(--shadow, gray);
}
.nav-sec:active {
  background-color: transparent;
}

/*-------- Main -------*/
main {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
}
h1,
h2,
p {
  color: var(--primary-color, white);
  text-align: center;
  border: none;
  padding: 0;
  margin: 0px;
}
section p {
  padding-top: 60px;
  font-size: 1.8em;
}
h1,
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 1000;
  font-size: 50px;
  padding-top: 50px;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color, grey);
  background-image: linear-gradient(
    0deg,
    var(--color-deg-2, #f1f1f1) 0%,
    var(--color-deg-1, #181719) 100%
  );
}
#welcome-section h1 {
  font-size: 4rem;
  padding: 10px;
}
/* Projects */
#projects {
  min-height: 100vh;
  background-color: var(--secondary-color, grey);
  background-image: linear-gradient(
    180deg,
    var(--color-deg-2, #f1f1f1) 0%,
    var(--color-deg-3, #6a6a6a) 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  padding-bottom: 20px;
}
#projects h1 {
  width: 100%;
}
.text-projects {
  padding: 60px 10%;
  width: 100%;
}
.project-tile {
  width: 26%;
  border: none;
  margin-bottom: 40px;
}
.project-link {
  text-decoration: none;
  color: var(--contrast-color, white);
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  overflow: hidden;
}
.project-link p {
  color: var(--primary-color, white);
  height: 1.5rem;
  background-color: var(--contrast-color, black);
  font-size: 1rem;
  padding-top: 0.5rem;
  transition: 0.3s;
}
.project-tile:hover p {
  background-color: var(--contrast-color, black);
  font-size: 1.1rem;
  text-shadow: 0px 0px 3px var(--primary-color, black);
}
.project-img {
  width: 100%;
  border: none;
}
/* Social */
#social-section {
  height: 100%;
  background-color: var(--color-deg-3, #6a6a6a);
  padding: 2rem 0;
}
#social-section p {
  padding: 3em;
  font-family: "Lucida Console", sans-serif;
}
/* Footer */
.credits {
  background-color: var(--contrast-color, lightgray);
  border-top: 5px solid var(--shadow, black);
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--secondary-color, white);
  font-size: 16px;
  font-weight: 600;
  padding: 2rem;
  text-shadow: 1px 1px 2px var(--primary-color, black);
  transition: all 0.3s ease-out;
}
.credits:hover {
  color: var(--primary-color, black);
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0px 0px 1px var(--contrast-color, white);
}

/* Icon Pack part 1*/
.icon-pack1 {
  position: relative;
  z-index: 1;
  padding: 20px 20%;
}
.icon-pack1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.icon-pack1 ul li {
  list-style-type: none;
  padding-right: 5px;
  display: inline-block;
}
.icon-pack1 ul li a {
  position: relative;
  display: block;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3em;
  color: #666;
  font-size: 30px;
  border-radius: 50%;
  background-color: #333;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

@media screen and (max-width: 800px) {
  /* Projects */
  .project-tile {
    width: 40%;
  }
  .icon-pack1 {
    padding: 20px 10%;
  }
  section p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 520px) {
  /* Projects */
  .project-tile {
    width: 70%;
  }
  .icon-pack1 {
    padding: 20px 5%;
  }
  .icon-pack1 ul li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
}
@media screen and (max-width: 320px) {
  /* Projects */
  .project-tile {
    width: 90%;
  }
  #nav-list {
    flex-flow: row wrap;
    align-items: center;
  }
  .nav-sec {
    height: 30%;
    flex: 1 1 auto;
    margin-top: 1px;
  }
  .nav-sec:hover {
    background-color: grey;
    height: 40%;
  }
  .icon-pack1 {
    padding: 20px 0;
  }
  .icon-pack1 ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
}

/* Icon Pack part 2*/
.icon-pack1 ul li a:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.icon-pack1 ul li:nth-child(1) a:before {
  background-color: #3b5999;
}
.icon-pack1 ul li:nth-child(2) a:before {
  background-color: #0077b5;
}
.icon-pack1 ul li:nth-child(3) a:before {
  background-color: #e4405f;
}
.icon-pack1 ul li:nth-child(4) a:before {
  background-color: #55acee;
}

.icon-pack1 ul li:nth-child(1) a:hover {
  color: #3b5999;
  box-shadow: 0 0 5px #3b5999;
  -webkit-box-shadow: 0 0 5px #3b5999;
  -moz-box-shadow: 0 0 5px #3b5999;
  -o-box-shadow: 0 0 5px #3b5999;
  text-shadow: 0 0 5px #3b5999;
  -webkit-text-shadow: 0 0 5px #3b5999;
  -moz-text-shadow: 0 0 5px #3b5999;
  -o-text-shadow: 0 0 5px #3b5999;
}
.icon-pack1 ul li:nth-child(2) a:hover {
  color: #0077b5;
  box-shadow: 0 0 5px #0077b5;
  -webkit-box-shadow: 0 0 5px #0077b5;
  -moz-box-shadow: 0 0 5px #0077b5;
  -o-box-shadow: 0 0 5px #0077b5;
  text-shadow: 0 0 5px #0077b5;
  -webkit-text-shadow: 0 0 5px #0077b5;
  -moz-text-shadow: 0 0 5px #0077b5;
  -o-text-shadow: 0 0 5px #0077b5;
}
.icon-pack1 ul li:nth-child(3) a:hover {
  color: #e4405f;
  box-shadow: 0 0 5px #e4405f;
  -webkit-box-shadow: 0 0 5px #e4405f;
  -moz-box-shadow: 0 0 5px #e4405f;
  -o-box-shadow: 0 0 5px #e4405f;
  text-shadow: 0 0 5px #e4405f;
  -webkit-text-shadow: 0 0 5px #e4405f;
  -moz-text-shadow: 0 0 5px #e4405f;
  -o-text-shadow: 0 0 5px #e4405f;
}
.icon-pack1 ul li:nth-child(4) a:hover {
  color: #55acee;
  box-shadow: 0 0 5px #55acee;
  -webkit-box-shadow: 0 0 5px #55acee;
  -moz-box-shadow: 0 0 5px #55acee;
  -o-box-shadow: 0 0 5px #55acee;
  text-shadow: 0 0 5px #55acee;
  -webkit-text-shadow: 0 0 5px #55acee;
  -moz-text-shadow: 0 0 5px #55acee;
  -o-text-shadow: 0 0 5px #55acee;
}

.icon-pack1 ul li:nth-child(1) a:hover:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 0 15px #3b5999;
  -webkit-box-shadow: 0 0 15px #3b5999;
  -moz-box-shadow: 0 0 15px #3b5999;
  -o-box-shadow: 0 0 15px #3b5999;
}
.icon-pack1 ul li:nth-child(2) a:hover:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 0 15px #0077b5;
  -webkit-box-shadow: 0 0 15px #0077b5;
  -moz-box-shadow: 0 0 15px #0077b5;
  -o-box-shadow: 0 0 15px #0077b5;
}
.icon-pack1 ul li:nth-child(3) a:hover:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 0 15px #e4405f;
  -webkit-box-shadow: 0 0 15px #e4405f;
  -moz-box-shadow: 0 0 15px #e4405f;
  -o-box-shadow: 0 0 15px #e4405f;
}
.icon-pack1 ul li:nth-child(4) a:hover:before {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 0 0 15px #55acee;
  -webkit-box-shadow: 0 0 15px #55acee;
  -moz-window-shadow: 0 0 15px #55acee;
  -o-box-shadow: 0 0 15px #55acee;
}

/* ------- Animation      ------*/
.toFadeAnim {
  opacity: 0;
  transition: opacity 1s ease 0s;
}

.toFadeAnim.fadeIn {
  opacity: 1;
}
